<div class='container'>
  <div class='row'>
    <div class='col col-lg-6 offset-lg-3 mt-5'>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" ngModel name="email" placeholder="name@example.com" required email #email="ngModel">
          <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email!</span>
        </div>

        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select class="form-control" id="subscription" [ngModel]='defaultSubscription' name="subscription">
            <option value='Basic'>Basic</option>
            <option value='Advanced'>Advanced</option>
            <option value='Pro'>Pro</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ngModel name="password" required password #password="ngModel">
          <span class="help-block" *ngIf="password.invalid && password.touched">Please enter a valid password!</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>

      </form>


    </div>
  </div>
</div>